/* ------- *
*  About   *
* ------- */

//About Grid

.black--bcg {
  width: 100%;
  background: $base;
}
.grid--about {
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  max-width: 500px;
  flex-direction: row;
  justify-content: center;
  background: $base;
  color: #fff;
  @include bp(medium) {
    padding: 2em;
  }
}

.grid--about h2 {
  position: relative;
  font-size: 45px;
  padding-top: 70px;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: center;
  margin: 0 0 2rem 0;
}
.small__line {
  width: 20px;
  height: 1px;
  background: #b0b0b0;
  border: none;
  margin: 40px auto;
}

.grid--about h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 11px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 80px;
}

.about-image--1 {
  margin: 0 0 1rem 0;
  @include bp(medium) {
    margin: 0 0 1rem 0;
  }
}

.about-image--3 {
  margin: 0 0 1rem 0;
  @include bp(medium) {
    margin: 0 0 1rem 0;
  }
}

//Bio Text
.bio {
  max-width: 500px;
  padding: 0 1em;
  margin: 2em auto;

  p {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 23px;
    color: #fff;
    margin: 0 0 2em 0;
    text-align: justify;
  }
}

.whitecircle {
  margin: 0 auto;
  stroke: #fff;
  stroke-dasharray: 180;
  height: 4rem;
  width: 4rem;
  stroke-width: 7;
  stroke-miterlimit: 10;
  fill: none;
  transition: all 1s linear;
  transform: rotate(-90deg);
}

//Full Bleed Image Page Divider
.page-divider {
  margin: 4rem 0 2rem;
  width: 100%;
  div {
    max-height: 750px;
  }
}

//Bucket list
.bucket-list {
  height: 500px;
  background: $secondary;
  padding: 2em;
  margin: 0 0 1em 0;
  border-radius: 2px;
  h3 {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em 0;
  }
  ul li {
    list-style: disc;
    list-style-position: inside;
    margin: 0 0 0.5em 0;
  }
}

//About Slider
.slider--about {
  margin: 0 0 2em 0;
  .slick-slide {
    height: 500px;
    padding: 0;
    width: 101%;
    div {
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      font-family: 'object-fit: cover; object-position: 50% 50%;';
    }
  }
}
