/* ------- *
*   Menu   *
* ------- */

.menu__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  margin-top: 64px;
  z-index: 100;
  // overflow-y: scroll;
  @include bp(medium) {
    width: 100%;
  }
}

.site-nav {
  padding: 4em 0 0 1em;
  text-align: center;

  li {
    margin-bottom: 34px;
  }
  a {
    position: relative;
    display: inline-flex;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: $base;
    margin-top: 10px;
    margin-bottom: 4px;
    @include bp(medium) {
      font-size: 2.2em;
    }
  }
  span {
    position: absolute;
    bottom: 0px;
    width: 0%;
    height: 15px;
    left: 0px;
    background-color: $grey;
    opacity: 0.3;
    z-index: -1;
    transition: width 0.5s;
  }
}

.site-nav a:hover span {
  width: 80%;
}

.site-nav .icon {
  fill: $base;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: 0 0 0 0.25em;
  // fill: white;
}

.site-nav a:hover .icon {
  fill: lighten($base, 25%);
}

@media (hover: none) {
  .site-nav a:hover {
    color: $base;
  }
}

//Menu Social Icons
.site-nav .icon--facebook {
  // margin-right: -0.5rem;
}

.site-nav .icon--instagram {
  margin-right: -0.25rem;
}
