/* ---------- *
 *  Variables *
 * ---------- */

// @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
// @import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

//Colors
$base: #000; // Dark Gray
// $base: #3e3e3e;
$grey: #9ea0a6;
$secondary: #f1f1f1; // Light Gray
$background: #fff; // White

//Font Family
$sans: 'Raleway', sans-serif;
$slab: 'Bitter', serif;

//Max Width
$max: 1140px;

//Nav Height
$nav-height: 73px;

// $content-padding: 50px;
// $header-top-margin: 3em;
// $header-height: 45px;
// $header-padding: calc(#{$header-top-margin} + #{$header-height});
// $project-cover-width: 724px;
// $project-cover-height: 320px;
// $project-cover-perimeter: ($project-cover-width * 2) + ($project-cover-height *
//       2);
// $slider-breadcrumb-height: 145px;
// $slider-breadcrumb-height-small: 122px;
