/* ----------- *
 *  Animation  *
 * ----------- */

nav {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.84, 0, 0.22, 1);
}

nav a,
.container a {
  transition: color 0.3s;
}

a .icon {
  transition: all 0.3s;
}

.container,
.modal--contact {
  transition: transform 0.5s, opacity 0.5s;
  transition-timing-function: cubic-bezier(0.84, 0, 0.22, 1);
}

.open--menu .container:after,
.open--modal .container:after,
.open--modal .modal--contact {
  transition: opacity 0.5s, visibility 0s linear 0s;
  transition-timing-function: cubic-bezier(0.84, 0, 0.22, 1);
}

.container:after {
  transition: opacity 0.5s, visibility 0s linear 0.5s;
  transition-timing-function: cubic-bezier(0.84, 0, 0.22, 1);
}

.post-preview div:after {
  transition: background-color 0.5s;
}

.cell--fifth div,
.home-list li div,
.home-list li div:before,
.galleries-list li h3,
.featured__newest h3,
.featured__list h3 {
  transition: all 0.5s;
}

.category-navigation__links {
  transition: all 0.3s;
}

.toggle__icon,
.up-button__arrow {
  transition: all 0.3s;
  span {
    transition: all 0.3s;
  }
}

.toggle__label {
  transition: all 0.8s;
}
